<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <head><title>Create a Tutorial</title>
    </head>
    <header class="masthead container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container" style ="background-color:rgb(212, 55, 55); padding-bottom: 1px;" >
              <h1>Create Tutorial</h1>
            </div>
            <p><a style="position: absolute;right:650;top:10"action="/" class="btn btn-dark btn-sm" href="/" role="button">Home</a></p>
          </div>
      </header>
<body style = "background-color:rgb(255, 254, 238)">
    <div class="container">
        <div class="colspan">
        

    <tr th:if="${profs.empty}">
        <td colspan="2"> No Profs Available </td>
    </tr>
    <form th:object="${tutorial}" action="tutorial" method="post" class = "form">

        <label>Choose an Associated Lecture:</label><br>
        <select class="form-select" id="cid" name="cid" required=true>
          <option th:each="lecture : ${lectures}" th:value="${lecture.getId()}" th:text="${lecture.getCourseFullName}"></option>
        </select><br>

        <div class = "form-group">
            <label for="cap">Capacity:</label><br>
            <input class = "form-control" type="number" th:field="*{cap}" id="cap" name="cap" placeholder="Max Capacity" required=true><br>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('cap')}" th:errors="$*{cap}"></div>
        </div>

        <label>Choose a Prof:</label><br>
              <select class="form-select" id="prof" name="prof" required=true>
                
                <option th:each="prof : ${profs}" th:value="${prof.getUsername()}" th:text="${prof.toString()}"></option>
              </select><br>

        <div class = "form-group">
            <label for="time">Time:</label><br>
            <input class = "form-control" type="time" th:field="*{time}" id="time" name="time" placeholder="Time of Lecture" required=true><br>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('time')}" th:errors="$*{time}"></div>
        </div>


        <input class="btn btn-secondary" type="submit" value="Create course"/>
    </form>

    <form action="/">
        <input class= "btn btn-primary btn-sm" type="submit"  value="Back to Homepage" />
    </form>
    <br>

        </div>
    </div>
</body>
</html>